
<header>
    <div>
    <a routerLink="/">
        <img src="https://i.pinimg.com/1200x/14/98/f4/1498f4078fcb01a7b4c4080af96318e0.jpg">
    </a>
    </div>
     
    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="rooms" routerLinkActive="active">Rooms</a>
        <a routerLink="hotels" routerLinkActive="active">Hotels</a>
        <a routerLink="booked" routerLinkActive="active">Booked Rooms</a>
    </nav>
</header>
