

.rooms-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin:0 auto;
    gap:60px;
}
.rooms-container img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
}

.info {
  display: grid;
  grid-template-areas:
    "title title  title price";
    justify-content: space-between;
    align-items: center;
    padding-left:12px;
 
   
}
.cont{
       border:1px solid rgba(128, 128, 128, 0.227);
       border-radius: 12px;
}

.info h3 {
  grid-area: title;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.77);
  padding-block: 16px;

}

.price {
  grid-area: price;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
   background-color: rgba(123, 180, 189, 0.099);;
  padding:4px 10px;
  border-left:2px solid rgba(128, 128, 128, 0.299);
}
.price p:first-child{
  color: rgb(123, 180, 189);
  font-weight: bold;
}
.price :nth-child(2){
  font-size: 12px;
}

.image-wrapper {
  height: 200px;
  overflow: hidden;
}

.room-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}
.content {
  position: relative;
  transition: transform 0.7s ease;
}

.book-btn {
  opacity: 0;
  display: none;
  transform: translateY(40px);
  transition: all 0.7s ease;
  width: 100%;
  background-color: rgb(123, 180, 189);
  color:rgb(248, 248, 248);
  font-weight: bold;
  border:none;
  height: 26px;
  border-radius: 4px;
}
.book-btn:hover{
    background-color: rgb(41, 176, 180);
}
.cont:hover .room-image {
  transform: translateY(-100%);
}

.cont:hover .content {
  transform: translateY(-200px);
}


.cont:hover .book-btn {
  opacity: 1;
  display: block;
  transform: translateY(0);
}



