<div class="rooms-container">
  @for (room of rooms; track $index) {

  <div class="cont">
    <div class="image-wrapper">
      <img
        [src]="room.images?.[2]"
        [alt]="room.name"
        class="room-image"
      />
    </div>

    <div class="content">
      <div class="info">
        <h3>{{ room.name }}</h3>
        <div class="price">
          <p>&euro; {{ room.price }}</p>
          <p>a night</p>
        </div>
      </div>

      <button class="book-btn">Book now</button>
    </div>
  </div>

  }
</div>
