<main>
    <section>
        <div class="hero">
            <div class="content">

                <div class="stars">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                </div>
                <h1>Five Star Hotels</h1>

                <div class="stars">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                    <img src="star (1).png" alt="">
                </div>
            </div>

            <p>And we like to keep it that way!</p>

         <button routerLink="hotels" >See hotels</button>
        </div>

    </section>
    <div class="fvRooms">
        <div class="line"></div>
        <h2>Guests Favourite Rooms</h2>
        <div class="line"></div>
    </div>

    <div class="fvRoomsList">
        <app-homechild [rooms]="topRooms()"></app-homechild>
    </div>

     <div class="UspSection">
          <div class="fvRooms">
        <div class="line"></div>
        <h2>USP section</h2>
        <div class="line"></div>
    </div>

    <div class="UspCards">
        <div class="uspcard">
        <div class="circle">
            <img src="/glass.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/credit-card.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/restaurant.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/drop.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
    </div>
     </div>
</main>