<main>
  <section>
    <div class="hero">
      <div class="content">
        <div class="stars">
          @for (i of [1,2,3,4,5]; track i) {
            <img src="star (1).png" alt="star icon" />
          }
        </div>

        <h1>Five Star Hotels</h1>

        <div class="stars">
          @for (i of [1,2,3,4,5]; track i) {
            <img src="star (1).png" alt="star icon" />
          }
        </div>
      </div>

      <p>And we like to keep it that way!</p>

      <button routerLink="/hotels">See hotels</button>
    </div>
  </section>

  <div class="fvRooms">
    <div class="line"></div>
    <h2>Guests Favourite Rooms</h2>
    <div class="line"></div>
  </div>

  <div class="fvRoomsList">
    @if (isLoading()) {
      <div class="loader-container">
        <div class="spinner"></div>
        <p>Loading our favorite rooms...</p>
      </div>
    } @else {
      <app-homechild
        [rooms]="rooms()"
        (selectedHotel)="onSelected($event)">
      </app-homechild>
    }
  </div>

  <div class="UspSection">
    <div class="fvRooms">
      <div class="line"></div>
      <h2>USP section</h2>
      <div class="line"></div>
    </div>

    <app-homechild2></app-homechild2>
  </div>
</main>