

 <div class="UspCards">
        <div class="uspcard">
        <div class="circle">
            <img src="/glass.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/credit-card.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/restaurant.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
           <div class="uspcard">
        <div class="circle">
            <img src="/drop.png" alt="">
        </div>
            <h5>Beverages included</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui sapiente necessitatibus ex quibusdam impedit voluptas dolorem rerum aliquid esse.
            </p>
            <a>Read More ></a>
         </div>
    </div>
    
