

.UspCards{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin:auto;
    gap:30px;
   


}
.circle{
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    border:1px solid rgb(84, 150, 216);
}
.circle img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.uspcard p{
  font-size: 13px;
  color:rgba(62, 61, 61, 0.81);
  text-align: center;
  font-family: cursive;
}

.uspcard{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:6px;
}
h5{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.uspcard a{
    font-size: 12px;
    color:rgb(40, 170, 170);
     margin-bottom: 100px!important;
}
