<div class="booked-container">
  <div class="filter-bar">
    <button class="filter-btn active">All</button>
    <button class="filter-btn">Tbilisi</button>
  </div>

  <table class="booking-table">
    <thead>
      <tr>
        <th>Hotel</th>
        <th>Room</th>
        <th>Customer</th>
        <th>Status</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (book of myBookings(); track $index) {
        <tr>
         <td>
  <div class="hotel-cell">
    <img [src]="allRooms.fullImage(book.hotelImage)" alt="hotel">
    <div>
      <div class="bold">{{ book.hotelName }}</div>
      <div class="subtext">Tbilisi</div>
    </div>
  </div>
</td>

<td>
  <div class="room-cell">
    <img [src]="allRooms.fullImage(book.roomImage)" alt="room">
    <div>
      <div class="bold">{{ book.roomName }}</div>
      <div class="price-tag">{{ book.pricePerNight }}€</div>
    </div>
  </div>
</td>

          <td><span class="status-badge">Booked</span></td>

          <td>{{ book.checkInDate }}</td>
          <td>{{ book.checkOutDate }}</td>

          <td class="bold">{{ book.totalPrice }}€</td>

          <td>
            <button class="cancel-btn" (click)="cancelBooking(book.id, $index)">
              CANCEL BOOKING
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="8" class="no-data">No bookings found. Start exploring!</td>
        </tr>
      }
    </tbody>
  </table>
</div>