

.rooms-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin:0 auto;
    gap:60px;
}
.rooms-container img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
}

.info {
  display: grid;
  grid-template-areas:
    "title title  title price";
    justify-content: space-between;
    align-items: center;
    padding-left:12px;
 
   
}
.cont{
       border:1px solid rgba(128, 128, 128, 0.227);
       border-radius: 12px;
}

.info h3 {
  grid-area: title;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.77);

}

.price {
  grid-area: price;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
   background-color: rgba(123, 180, 189, 0.099);;
  padding:4px 10px;
  border-left:2px solid rgba(128, 128, 128, 0.299);
}
.price p:first-child{
  color: rgb(123, 180, 189);
  font-weight: bold;
}
.price :nth-child(2){
  font-size: 12px;
}

.image-wrapper {
  height: 200px;
  overflow: hidden;
}

.room-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}
.content {
  position: relative;
  transition: transform 0.7s ease;
}

.book-btn {
  opacity: 0;
  display: none;
  transform: translateY(40px);
  transition: all 0.7s ease;
  width: 100%;
  background-color: rgb(123, 180, 189);
  color:rgb(248, 248, 248);
  font-weight: bold;
  border:none;
  height: 26px;
  border-radius: 4px;
}
.book-btn:hover{
    background-color: rgb(41, 176, 180);
}
.cont:hover .room-image {
  transform: translateY(-100%);
}

.cont:hover .content {
  transform: translateY(-200px);
}


.cont:hover .book-btn {
  opacity: 1;
  display: block;
  transform: translateY(0);
}



.range-slider {
  position: relative;
  width: 20%; /* slider width */
  height: 40px;
  margin-top: 20px;
}

/* Base slider style */
.slider {
  position: absolute;
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  background: transparent;
  pointer-events: all;
  top: 50%; /* center slider vertically */
  transform: translateY(-50%); /* perfectly align thumbs on track */
}

/* Track styling */
.slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #82bccb9f;
  border-radius: 3px;
}

.slider::-moz-range-track {
  height: 6px;
  background: #87bac7;
  border-radius: 3px;
}

/* Thumb styling */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20%;
  background: #82bccb;
  cursor: pointer;
  transform: translateY(-40%); 
  z-index: 5;
  position: relative;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}


.min-slider {
  z-index: 3;
}

.max-slider {
  z-index: 2;
}
.nav{
  margin-block:30px;
}

.main{
  width: 80vw;
  margin:auto;
}
.range-slider .range-track {
  position: absolute;
  height: 6px;
  background: #e0f7fe;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


.line{
  width: 100%;
  box-shadow:4px 4px 4px #cecaca;
  height: 1px;
}

.btnss{
  border:none;
  border-radius: 4px;
  background-color: none;
  color:#333;
  transition: 0.3s;
  padding:6px 12px;
 
}
.btnss:hover{
 background-color:#e2e4e4 ;
  }

  .btnss.active{
    background-color: #6ea0d6;
    color:rgb(254, 254, 254);
  }



